version: "3.8"
services:
  envoy:
    image: envoyproxy/envoy:v1.16.1
    networks:
    - envoymesh
    volumes:
    - ./hack/envoy-bootstrap.yaml:/etc/envoy/bootstrap.yaml
    - ./cert.pem:/etc/envoy/cert.pem
    - ./key.pem:/etc/envoy/key.pem
    command: ["/usr/local/bin/envoy", "-c", "/etc/envoy/bootstrap.yaml"]
    ports:
    - "9000:9000"
    - "9003:9003"
  xds:
    build:
      context: .
      dockerfile: Dockerfile.xds
    expose:
    - 9002
    networks:
    - envoymesh
    volumes:
    - ./hack:/config
    command: ["/bin/envoy-xds-server", "-configFile", "xds-config.yaml"]
  ext-auth:
    build:
      context: .
      dockerfile: Dockerfile.auth
    networks:
    - envoymesh
    volumes:
    - ./hack:/config
    command: ["/bin/envoy-auth-server", "-configFile", "ext-auth-config.yaml"]
  echo-server-1:
    image: jmalloc/echo-server
    networks:
    - envoymesh
    expose:
    - 8080
    hostname: echo-server-1
  echo-server-2:
    image: jmalloc/echo-server
    networks:
    - envoymesh
    expose:
    - 8080
    hostname: echo-server-2
  echo-server-3:
    image: jmalloc/echo-server
    networks:
    - envoymesh
    expose:
    - 8080
    hostname: echo-server-3


networks:
  envoymesh: {}
